.course-view-container {
  flex-grow: 1;
}

.course-view-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  text-decoration: underline;
}

.course-search-input {
  font-size: 1.5rem;
  width: 100%;
}

.course-result-count {
  margin: 0 10%;
}

.course-container {
  display: grid;
  grid-template-rows: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem 2rem;
  grid-auto-rows: 8rem;
  grid-auto-columns: minmax(20rem, 1fr);
  margin: 2rem;
}

.no-courses-found {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: #aa0000;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.course-search-container {
  margin: 2rem 10% 0.5rem;
  width: 80%;
  position: relative;
}
