.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1320px) {
  .home-container {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  img.home-splash {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  img.home-splash {
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  img.home-splash {
    max-width: 200px;
  }
}

.home-splash {
  max-width: 800px;
  margin: 3rem;
  border-radius: 5px;
}

.home-text {
  margin: 3rem;
  font-size: 2rem;
}
