.login-page {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.login-form {
  padding: 2rem;
  margin: 4rem;
  border-radius: 5px;
  outline: solid 1px;
}

.login-input-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 1rem 0.5rem;
}

.form-label,
.form-input {
  font-size: 1.5rem;
}

.submit-login {
  margin: 1.5rem 0 0.5rem;
  text-align: center;
}

.submit-btn {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.create-account-link-container {
  margin-top: 1rem;
  text-align: center;
}

.create-account-link {
  font-style: italic;
}

.login-splash {
  border-radius: 5px;
  max-width: 800px;
}

.login-error {
  color: red;
  text-align: center;
  font-style: italic;
}
