.program-container {
  flex-grow: 1;
  display: flex;
  margin: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.program-view-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  text-decoration: underline;
}

.no-data-available {
  text-align: center;
  font-size: 3rem;
  color: #aa0000;
  flex-grow: 1;
  margin: 3rem;
}
