.course-item-grid-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.course-item-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
  border-radius: 5px;
  width: min(100%, 25rem);
}

.course-item-container:hover {
  background-color: #d6a384;
  cursor: pointer;
}

.course-item-id {
  font-size: 1rem;
  margin: 0.5rem 1rem;
}

.course-item-title {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
}
