.schedule-course-container {
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 1rem 2rem;
}

.schedule-course-container-label {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.schedule-course-container-grid {
  display: grid;
  grid-template-rows: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem 1rem;
  grid-auto-rows: 4rem;
  grid-auto-columns: minmax(20rem, 1fr);
  padding: 1rem;
}

.course-choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  height: 4rem;
}

.course-choice-course {
  height: 100%;
  width: 40%;
}

.course-choice-separator {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .course-choice-course {
    width: 80%;
  }

  .course-choice-container {
    flex-direction: column;
    height: auto;
  }
}

.hide-courses {
  float: right;
  margin-right: 1rem;
}

.hide-courses:hover {
  cursor: pointer;
}
