.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 152, 75);
}

.header-text {
  font-size: 4rem;
}

.logo {
  height: 5.5rem;
  width: 5.5rem;
  margin: 2rem;
}
