.sidenav-container {
  height: 100vh;
  position: fixed;
  background: #5d554a;
  min-width: 16rem;
}

.close-btn-container {
  text-align: right;
}

.close-btn-container:hover {
  cursor: pointer;
}

.close-btn {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #361e12;
}

.user-icon-container {
  margin: 2rem auto 1rem;
  text-align: center;
}

.user-icon-frame {
  display: inline-block;
  padding: 1rem;
  border-radius: 50px;
  background-color: floralwhite;
  outline: solid black 1px;
}

.user-icon {
  font-size: 5rem;
}
